body{
    padding: 0;
    margin: 0;
    text-align: center;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f0f5f9;
    
}

.intro{
    width: 30%;
    margin: auto;
}

.top-container{
    
    padding-top: 200px;
    background-color: #1e2022;
    
}


.middle-container{
    margin: 100px auto 100px auto;
   
}

.profile{
    margin: 100px auto 100px auto;
    
}
.skills{
    
    margin: auto;
}

.mySkills{
    margin-top: 150;
}

.right-cloud{
    position: absolute;
    right:250px;
    top: 100px;

}
.left-cloud{
    position: absolute;
    top: 300px;
    left: 250px;
}
p{
    line-height: 2;
}


h1{
    margin-top: 0px;
    font-family: 'Arizonia', cursive;
    font-size: 70px;
    color: #c9d6df;
}

h2{
    color: #52616b;
    font-size: 2.5rem;
}

h3{

    color: #52616b;
}
h4{
    
    font-family: 'Roboto Condensed', sans-serif;
    color: #52616b;
}

hr{
    
    border-style: none;
    border-top: dotted;
    border-width: 5px;
    width: 7%;
    color: #c9d6df;
    margin: 100px auto;
    
    
}

a{
    color: #c9d6df;
    margin: 10px 20px;
    text-decoration: none ;
}

a:hover{
    color:#1e2022 ;
}






.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
    
    
}

.contact-me{
    margin: 100px auto 100px auto;
}


.profile-pic{
    width: 12%;
}

.laptop-img{
width: 25%;
float: left;
margin-right: 30px;
}

.chillies-img{
width: 25%;
float: right;
margin-left: 30px;
}


.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}


.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #1e2022;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #52616b;
    color: white;
  }

  .bottom-container{
      background-color: #52616b ;
      padding-top: 20px;
  }
  .copyright{
      margin: 0;
      padding-top: 15px;
      padding-bottom: 10px;
      color: #1e2022;
      font-size: 0.75rem;
  }
